In [7]:
# Google Colab
# !pip install selenium -qq
# !apt-get update -qq
# !apt install chromium-chromedriver -qq

# Jupyter
!pip install undetected_chromedriver

Requirement already satisfied: undetected_chromedriver in c:\programdata\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: websockets in c:\programdata\anaconda3\lib\site-packages (from undetected_chromedriver) (10.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from undetected_chromedriver) (2.25.1)
Requirement already satisfied: selenium==4.0.0b4 in c:\programdata\anaconda3\lib\site-packages (from undetected_chromedriver) (4.0.0b4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium==4.0.0b4->undetected_chromedriver) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium==4.0.0b4->undetected_chromedriver) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium==4.0.0b4->undetected_chromedriver) (1.26.4)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected_chromedriver) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected_chromedriver) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected_chromedriver) (2.3.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected_chromedriver) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected_chromedriver) (20.3.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected_chromedriver) (2.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected_chromedriver) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium==4.0.0b4->undetected_chromedriver) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium==4.0.0b4->undetected_chromedriver) (1.0.0)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium==4.0.0b4->undetected_chromedriver) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium==4.0.0b4->undetected_chromedriver) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium==4.0.0b4->undetected_chromedriver) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium==4.0.0b4->undetected_chromedriver) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium==4.0.0b4->undetected_chromedriver) (0.12.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->undetected_chromedriver) (4.0.0)

In [8]:
# Google Colab
# from selenium import webdriver

# Jupyter
import undetected_chromedriver as uc

import pandas as pd
import numpy as np
from datetime import datetime
import time

from selenium.common.exceptions import NoSuchElementException

In [9]:
# Google Colab
# chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument('--headless')
# chrome_options.add_argument('--no-sandbox')
# chrome_options.add_argument('--disable-dev-shm-usage')
# driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

# Jupyter
driver = uc.Chrome()

driver.get('https://infocorona.serangkota.go.id/web/data')

In [10]:
driver.find_element_by_xpath('/html/body/div/div/div/div[3]/div/div[2]/div/div/div[2]/div/div/div[1]/div[1]/div/label/select/option[4]').click()

In [11]:
list_value = []
driver.execute_script("arguments[0].scrollIntoView();", driver.find_element_by_class_name('paginate_button.page-item.next'))

while True:
    time.sleep(1)
    
    body = driver.find_element_by_tag_name('tbody')
    row = body.find_elements_by_tag_name('tr')
    
    value = []
    
    for tr in row:
        
        for td in tr.find_elements_by_tag_name('td'):
            value.append(td.text)
            
        list_value.append(value)
        value = []
    
    try:
      driver.find_element_by_class_name('paginate_button.page-item.next.disabled')
      break
    except NoSuchElementException:
      driver.find_element_by_class_name('paginate_button.page-item.next').click()

In [6]:
len(list_value)

1446

In [ ]:
head = driver.find_element_by_tag_name('thead')
row = head.find_elements_by_tag_name('th')
col = []

for th in row:
    col.append(th.text)
    
col

In [8]:
df = pd.DataFrame(list_value, columns=col)
df

,TANGGAL,KECAMATAN,KONTAK ERAT,KASUS SUSPEK,POSITIF,DIRAWAT,ISOLASI,SEMBUH,MENINGGAL
0,13 Sep 2021,SERANG,3444,656,2298,2183,4,50,61
1,13 Sep 2021,CIPOCOK JAYA,1942,566,948,898,0,21,29
2,13 Sep 2021,CURUG,352,84,78,75,0,0,3
3,13 Sep 2021,KASEMEN,314,71,85,83,0,1,1
4,13 Sep 2021,WALANTAKA,469,114,293,261,0,26,6
...,...,...,...,...,...,...,...,...,...
1441,11 Jan 2021,CURUG,272,73,29,14,1,13,1
1442,11 Jan 2021,KASEMEN,237,52,14,9,1,4,0
1443,11 Jan 2021,SERANG,2019,446,586,264,42,258,22
1444,11 Jan 2021,TAKTAKAN,696,110,241,101,13,121,6
1445,11 Jan 2021,WALANTAKA,317,83,96,61,6,28,1

In [9]:
df.insert(1,column='provinsi', value='banten')
df.insert(2,column='kabkot', value='Serang')
df.insert(4,column='kelurahan', value='')
df.insert(11,column='types', value='kecamatan')
df.insert(12,column='types', value='https://infocorona.serangkab.go.id/data-sebaran')

,KONTAK ERAT,KASUS SUSPEK,POSITIF,DIRAWAT,ISOLASI,SEMBUH,MENINGGAL
KECAMATAN,,,,,,,
CIPOCOK JAYA,1942194219291929192419211921192119211921191519...,5665665665665665665665665665665665665665665665...,9489489429429309289289289279279219219219139139...,8988988938938858858858748378378368368367747567...,0000000000000111233332222222388777777777777777...,2121202016141425616157575711012812813315315315...,2929292929292929292928282828282828282827272727...
CURUG,3523523523523523523523523523523523523523523523...,8484848484848484848484848484848484848484848484...,7878787878787878787878787878787878787878787878...,7575757575757575757575757573737373737373737373...,0000000000000000000000000000000000000000000000...,0000000000000222222222222222222225555555333333...,3333333333333333333333333333333333333333333333...
KASEMEN,3143143143143143143143143143143143143143143143...,7171717171717171717171717171717171717171717171...,8585858585858585848484848479797979797976747474...,8383838381787573737373737373717162626262626161...,0000000000000000000000000000000000000000000000...,1111369111010101010577161616131112121417171717...,1111111111111111111111111111111111111111111111...
SERANG,3444344434253414341234123412340033973396339633...,6566566556556526526526516506516516506506456446...,2298229822882273226422632263225222482222220321...,2183218321102079205319791964194819421942193119...,4465555678876555555555544555816161616161616161...,5050111128145218233238239214206186166192224224...,6161616161616160605858585757565656565655555555...
TAKTAKAN,1395139513891389138913891389138913891389138913...,1641641631631631631631631631631631631631621621...,1166116611511146114611461140113011161116111511...,1093109310851064104510001000100098797297297297...,5544443100000000000000000000000000000000000000...,4242365271116111103103118118118115149151151158...,2626262626262626262625252525252525252525252525...
WALANTAKA,4694694694694694694674674674674674674674674674...,1141141141141141141141141141141141141141141141...,2932932932932932782672672672672662662662662662...,2612612612622622332332332332332332332332282282...,0000000000000000000000000000000000000000000000...,2626262525392828282828282833333313555510102022...,6666666666555555555555555555555555555555555555...

In [10]:
df.rename(columns={"KONTAK ERAT": "TOTAL ODP", "POSITIF": "TOTAL POSITIF", "DIRAWAT":"POSITIF DIRAWAT","ISOLASI":"POSITIF ISOLASI"
                   ,"SEMBUH":"POSITIF SEMBUH","MENINGGAL":"POSITIF MENINGGAL"})

,TANGGAL,KECAMATAN,TOTAL ODP,KASUS SUSPEK,TOTAL POSITIF,POSITIF DIRAWAT,POSITIF ISOLASI,POSITIF SEMBUH,POSITIF MENINGGAL
0,13 Sep 2021,SERANG,3444,656,2298,2183,4,50,61
1,13 Sep 2021,CIPOCOK JAYA,1942,566,948,898,0,21,29
2,13 Sep 2021,CURUG,352,84,78,75,0,0,3
3,13 Sep 2021,KASEMEN,314,71,85,83,0,1,1
4,13 Sep 2021,WALANTAKA,469,114,293,261,0,26,6
...,...,...,...,...,...,...,...,...,...
1441,11 Jan 2021,CURUG,272,73,29,14,1,13,1
1442,11 Jan 2021,KASEMEN,237,52,14,9,1,4,0
1443,11 Jan 2021,SERANG,2019,446,586,264,42,258,22
1444,11 Jan 2021,TAKTAKAN,696,110,241,101,13,121,6
1445,11 Jan 2021,WALANTAKA,317,83,96,61,6,28,1

In [ ]:
driver.quit()